{% extends 'base.html.twig' %}



{% block title %}
	Page d'accueil
{% endblock title %}

{% block body %}
	<div class="container-fluid m-0 p-0">
		<div class="row col-12 m-0 p-0">


			<div class="row col-9">
				{% for i in 0..4 %}
					<div class="col-12 ">
						<div class="bg-warning mt-2">
							Deck ici
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-12 col-md-3 mr-auto ml-auto mt-2 p-0">
				<div class="card ml-auto mr-auto" style="width: 80%">
					<h5 class="card-title text-center">Random Deck !</h5>
					<a href="{{ path('deck_show', {'id': deck[0].id}) }}" class="ml-auto mr-auto" style="width: 90%">
						<img class="card-img-top" src="{{deck[0].img}}" alt="{{deck[0].nom}}">
					</a>
					<div class="card-body">
						<h5 class="card-text text-center">{{deck[0].nom}}</h5>
					</div>
				</div>
				<div class="card mt-3 ml-auto mr-auto" style="width: 80%">
					<h5 class="card-title text-center">Random Card !</h5>
					<a href="{{ path('findCard' , {'id_api' :card[0].idApi }) }}" class="ml-auto mr-auto" style="width: 90%">
						<img class="card-img-top " src="{{ card[0].img }}"    alt="{{ card[0].nom }}" >
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}