{% extends 'base.html.twig' %}


{% block title %}
	{{ card.nom }}
{% endblock title %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/findCard.css') }}">
{% endblock stylesheets %}


{% block body %}


	<div class="container">
		<div class="row col-12">
			<div class="col-5 ">
				<img id="imageCard" src="{{ asset(card.img) }}" alt="{{card.nom}}">
			</div>
			<div id="details" class="row col-7 bg-dark text-light">
				<div class="col-6">
					<p>Name:
						{{ card.nom }}</p>
				</div>
				<div class="col-6">
					<p>Level:
						{{ card.level }}</p>
				</div>
				<div class="col-4">
					<p>
						Card-type:
						{% for cardType in card.cardTypes %}
							{% if loop.last %}
								and
								{{cardType.name}}
							{% elseif loop.first %}
								{{cardType.name}},
							{% else %}
								, {{cardType.name}}
							{% endif %}


						{% endfor %}
					</p>
				</div>
				<div class="col-4">
					<p>
						{{ card.attribute }}
					</p>
				</div>
				<div class="col-4">
					<p>
						{{ card.race }}
					</p>
				</div>
				<div class="col-6">
					<p>Atk:
						{{ card.atk|default(0)}}
					</p>
				</div>
				<div class="col-6">
					<p>Def:
						{{ card.def|default(0) }}
					</p>
				</div>
				<div class="col-12">
					<p>Archetype:
						{{ card.archetype }}
					</p>
				</div>
				<div class="col-12">
					<p>Description:
						{{ card.description }}
					</p>
				</div>
				<div class="col-12">
					<p>Price on Cardmarket:
						{{ card.price }}
					</p>
				</div>
			</div>
		</div>
	</div>


{% endblock body %}
