{% extends 'base.html.twig' %}


{% block title %}
{{ card.nom }}
{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/findCard.css') }}">
{% endblock stylesheets %}


{% block body %}


<div class="container-fluid">
	<div class="row col-12">
		<div class="col-3">
			<img src="{{ asset(card.img) }}" alt="{{card.nom}}">
		</div>
		<div class="row col-5 ml-5">
				<div class="row col-8">
					<p>Name:
						{{ card.nom }}</p>
				</div>
				<div class="row col-4">
					<p>Level:
						{{ card.level|default("has no level") }}</p>
				</div>
				<div class="row col-7 ">
					<p>
						Card-type:
						{% for cardType in card.cardTypes %}
							{% if loop.length == 1 %}
								{{cardType.name}}
							{% else %}

								{% if loop.last %}
									and
									{{cardType.name}}
								{% elseif loop.first %}
									{{cardType.name}},
								{% else %}
									,
									{{cardType.name}}
								{% endif %}
							{% endif %}

						{% endfor %}
					</p>
				</div>
				<div class="row col-3">
					<p>
						{{ card.attribute }}
					</p>
				</div>
				<div class="row col-2">
					<p>
						{{ card.race }}
					</p>
				</div>
				<div class="row col-6">
					<p>Atk:
						{{ card.atk|default("has no atk")}}
					</p>
				</div>
				<div class="row col-6">
					<p>Def:
						{{ card.def|default("has no def") }}
					</p>
				</div>
				<div class="row col-12">
					<p>Archetype:
						{{ card.archetype|default("has no archetype") }}
					</p>
				</div>
				<div class="row col-12">
					<p>Description: <br><br><br>
					{{ card.description  | replace({'----------------------------------------': ' ', '[': "", ']': "\n"})| nl2br }}</p>
				</div>
				<div class="row col-12">
					<p>Price on Cardmarket:
						{% if card.price == 0 %}
						this card does not exist in TCG
						{% else %}
						{{ card.price }}
						{% endif %}
					</p>
				</div>
		</div>
	</div>
</div>
{% endblock body %}