{{ form_start(newDeckForm) }}
        {{ form_row(newDeckForm.nom)}}
        {{ form_row(newDeckForm.format)}}
        {{ form_row(newDeckForm.type)}}
        <div>
			{% include 'deck/_deck.html.twig' %}
		</div>
        {{ form_row(newDeckForm.Update)}}
{{ form_end(newDeckForm) }}
