{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/deck.css') }}">
{% endblock stylesheets %}


{% block title %}All decks{% endblock %}

{% block body %}
<h1 class="mt-4">All decks</h1>
<div class="container-fluid p-0">
    <div class="row p-5 m-0">
          {% for deck in decks %}
        <div class="col-md-6 col-lg-2 p-3">
            <a href="{{ path('deck_show', {'id': deck.id}) }}">
                <div class="card ">
                    <img class="card-img-top mb-3" src="{{asset(deck.img)}}" alt="image deck">
                    <div class="card-body ">
                        <h5 class="card-title text-center">{{ deck.nom }}</h5>
                        <p class="card-text text-center">Author: {{ deck.auteur }}</p>
                        <p class="card-text text-center">Date: {{ deck.datePost ? deck.datePost|date('Y-m-d') : '' }}</p>
                        {# <p class="card-text">Note: {{ deck.note }}</p> #}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %} 
        
    </div>
    {{ knp_pagination_render(decks) }}
</div>
{% endblock %}