{% extends 'base.html.twig' %}

{% block title %}New Deck
{% endblock title %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/newDeck.css') }}">
{% endblock stylesheets %}

{% block body %}


	<div class="container-fluid m-0 p-0">

		<div class="row col-12 m-0 p-0">


			<div class="row col-9 align-items-center js-filter">


				<div class="col-12 cards ">
					<div>
						{{form_start(form, {attr: {class: 'js-filter-form' }}) }}
						 {{ form_row(newDeckForm.format,   {attr: {class: 'inline' }})}} 
						{{form_end(form)}}
						
					</div>
					<div class="grid js-filter-content "> 
						{% include 'deck/_cards.html.twig' %}
					</div>
				</div>
			</div>

			<div class="col-12 col-md-3 mr-auto ml-auto mt-2 p-0">
				{{ form_row(newDeckForm.type) }}

				{{ form(newDeckForm.nom) }}
				<div>
					Decklist ici
				</div>
				<button class="btn">{{ button_label|default('Save') }}</button>


				<a href="{{ path('deck_index') }}">back to list</a>
			</div>
			
		</div>
	</div>
{% endblock body %}
