{% extends 'base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/showDeck.css') }}">
{% endblock stylesheets %}


{% block body %}
<div class="container-fluid">
	<div class="row col-12  font-weight-bold">
		<div class="col-4">
			<img src="{{ asset(deck.img) }}" alt="{{deck.nom}}">
		</div>
		<div id="fondCouleur" class="row col-5 ml-5">
			<div class="row col-12 d-flex justify-content-center align-items-center">
				<p>Name:
					{{ deck.nom }}</p>
			</div>
			<div class="row col-6 d-flex justify-content-center align-items-center">
				<p>Format:
					{{ deck.format}}</p>
			</div>
			<div class="row col-6 d-flex justify-content-center align-items-center">
				<p>
					Type:
					{{deck.type}}
				</p>
			</div>
			<div class="row col-6 d-flex justify-content-center align-items-center">
				<p>Price:
					{{ deck.prix }}
				</p>
			</div>
			<div class="row col-6 d-flex justify-content-center align-items-center">
				<p>Date of creation: 
					{{ deck.datePost|date('d/m/Y') }}
				</p>
			</div>
			<div class="row col-12 d-flex justify-content-center align-items-center">
				<p>Author:
					{{ deck.auteur}}
				</p>
			</div>
		</div>
	</div>
</div>

    <a href="{{ path('all_deck') }}">back to list</a>

    <a href="{{ path('my_deck') }}">back to my list</a>

    {# <a href="{{ path('deck_edit', {'id': deck.id}) }}">edit</a> #}

    {# {{ include('deck/_delete_form.html.twig') }} #}
{% endblock %}
