{% extends 'base.html.twig' %}

{% block title %}Deck{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/showDeck.css') }}">
{% endblock stylesheets %}


{% block body %}
    <h1>Deck {{ deck.nom }} </h1>
<div class="container-fluid">
    <div class="row col-12  font-weight-bold">
        <div class="col-4">
            <img src="{{ asset(deck.img) }}" alt="{{deck.nom}}">
        </div>
        <div id="fondCouleur" class="row col-5 ml-5">
            <div class="row col-12 d-flex justify-content-center align-items-center">
                <p>Name:
                    {{ deck.nom }}</p>
            </div>
            <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>Format:
                    {{ deck.format}}</p>
            </div>
            <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>
                    Type:
                    {{deck.type}}
                </p>
            </div>
            <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>Price:
                    {{ deck.prix }}
                </p>
            </div>
            <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>Date of creation:
                    {{ deck.datePost|date('d/m/Y') }}
                </p>
            </div>
                        <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>Rate this deck :
                    <a href="{{ path('note' , {'id_user' : app.user.id ,'id_deck' : deck.id , 'note' : 1}) }}">+</a>
                    <a href="{{ path('note' , {'id_user' : app.user.id ,'id_deck' : deck.id , 'note' : -1}) }}">-</a>
                </p>
            </div>
            <div class="row col-6 d-flex justify-content-center align-items-center">
                <p>Note:
                    {{ note}}
                </p>
            </div>
            <div class="row col-12 d-flex justify-content-center align-items-center">
                <p>Author:
                    {{ deck.auteur}}
                </p>
            </div>
        </div>
    </div>
</div>

<div id="listCard" class="container-fluid p-0">
    <h1>Deck list</h1>
    <div class="row p-5 m-0">
        {% for deckCard in deck.deckCards %}
            {% if deckCard.nbr > 0 %}
                {% for i in 1..deckCard.nbr %}
                    <div class="col-md-6 col-lg-2 p-3">
                        <div class="card">
                            <img class="card-img-top" src=" {{asset(deckCard.card.img)}} " alt="card in deck">
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<a class="d-flex justify-content-center" href="{{ path('all_deck') }}"><button type="button" class="btn btn-dark">Back to list</button></a>
{% endblock %}