{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/_form.css') }}">
{% endblock stylesheets %}
{{ form_start(form) }}
<div class="container-fluid text-white">
    <div class="row col-12">
        <div class="col6">
            <img src="{{asset(app.user.avatar)}}" alt="avatar">
        </div>
        <div class="row col-6 ml-5">
            <div class="fond row col-12">
                {{ form_row(form.email) }}
            </div>
            <div class="fond row col-12">
                {{ form_row(form.username) }}
            </div>
            <div class="fond row col-12">
                {{ form_row(form.avatar) }}
            </div>
                {{ form_row(form.Update)}}

        </div>
    </div>
</div>
{{ form_end(form) }}